@mixin square($size) {
    width: $size;
    height: $size;
}

@mixin padding-hack($padding, $object-fit: contain) {
    position: relative;
    padding-top: $padding;
    @content;

    & > img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: $object-fit;
    }
}

@mixin layout {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin z-index($key) {
    z-index: z-index($key);
}

@function z-index($key) {
    @return map-get($z-index, $key);
}

@function setColor($key) {
    @if map-has-key($colors, $key) {
        @return map-get($colors, $key);
    }

    @warn "Unknown `#{$key}` in $colors.";
    @return null;
}
