$main-font: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
$base-size: 15px;

$images_dir: "./static/images/";

$black: #000000;
$white: #ffffff;
$text_color: #888888;
$red: #d81c23;
$blue: #0000ff;

$colors: (
    black: $black,
    white: $white,
    text: $text_color,
    active-link: $red,
    btn: $blue,
);

$z-index: (
    underbase: -10,
    base: 0,
    overbase: 10,
);

%visually-hidden {
    $size: 1px;
    width: $size;
    height: $size;
    border: 0;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
